
body {
    background-color: #357d13;
    color: black; 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}
  
  .header {
    display: flex; 
    justify-content: center;
    background-color: white;
    font-size: 90px;
}

.logo {
    padding: 8px;
}

.container { 
    position: relative;
    height: 812px; 
    width: 1280px; 
}

.field {
    position: relative; 
    top: 0;
    left: 0; 
    width: 100%;
}

.ball {
    position: absolute; 
    top: 355px; 
    left: 595px;
    width: 7%; 
    height: auto; 
    transition: all 1s ease;
    transform:translateX(0px);

}

.ball.left{
    transform:translateX(100px);
    transition: all 2s ease;
}

  .player {
    display: flex; 
    flex-direction: row;
    justify-content: center;  
    gap: 25px;  
}

  .btn {
    font-size: 50px; 
    padding: 25px; 
  }

  .btn:hover {
    background-color: #357d13;
  }

  .text {
    align-items: center;
  }

  #output {
    font-size: 150px; 
  }