@font-face {
  font-family: myFont; 
  src:url(myFont.ttf); 
}


body {
    background-color: white;
    color: black; 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    font-family: myFont; 
    font-weight: 1; 
}
  
  .header {
    display: flex; 
    justify-content: center;
    background-color: white;
    font-family: myFont; 
    font-size: 90px;
    padding-left: 20px;
}

.logo {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px
}

.container { 
    position: relative;
    height: 812px; 
    width: 1280px; 
}

.field {
    position: relative; 
    top: 0;
    left: 0; 
    width: 100%;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px #357d13;
    border-radius: 4px;
    padding: 16px;
}

.ball {
    display: block; 
    position: absolute; 
    top: 380px; 
    left: 612px;
    width: 7%; 
    height: auto; 
}

.lose { 
  animation: left 0.5s; 
}


@keyframes left {
  0% {
    left: 50%; 
  }
  90% {
    left: 2%
  }
  100% {
    left: 50%; 
  }
}

.win {
  animation: right 0.5s; 
}

@keyframes right {
  0% {
    left: 50%; 
  }
  90% {
    left: 95%
  }
  100% {
    left: 50%; 
  }
}

  .player {
    display: flex; 
    flex-direction: row;
    justify-content: center;  
    gap: 25px;  
}

  .btn {
    font-family: myFont;
    font-size: 50px; 
    padding-top: 25px; 
    padding-bottom: 25px; 
    padding-left: 100px; 
    padding-right: 100px; 
    margin: 20px; 
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px black;
    border-radius: 20px;
    background-color: #357d13; 
  }

  .btn:hover {
    background-color: white;
  }

  .text {
    align-items: center;
  }

  #output {
    font-size: 90px; 
  }

  .buttoncontainer {
    display: flex; 
    flex-direction: row; 
    font-size: 50px;
 
  }

  .scoreContainer { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25px; 
    padding-right: 25px; 
    flex-wrap: wrap;
  }

  .score { 
    font-size: 50px;
  }

  .footer {
    background-color: white;
    font-family: myFont; 
    font-size: 90px;
    padding-left: 20px;
  }